.header{
    background: url(../img/img-header/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    
    &__nav{
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        a{
            color: white;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        svg{
           position: relative;
           top: 50px;
        }
    }
}

.hungry_people{
    min-height: 800px;
    display: flex;
    justify-content: space-around;

    &__timetable{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
    }
}