.menu__header {
  max-width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__header--head {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.menu__header--main {
  max-width: 40%;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.menu__nav {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 50px;
}
.menu__nav--item {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  border-right: solid #d6d6d6;
  padding: 10px 50px;
}

.menu__nav--lastitem {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 50px;
}
.menu__nav--link {
  color: black;
  text-decoration: none;
}
.menu__nav--link:hover {
  border-bottom: solid 2px #e8c300;
}
.menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu__content--column {
  max-width: 380px;
}
.menu__content--item {
  padding-bottom: 50px;
}

.menu__content--dish {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.menu__content--description {
  color: darkgray;
  font-size: 12px;
  line-height: 18px;
}
