.menu__header {
  max-width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__header--head {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.menu__header--main {
  max-width: 40%;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.menu__nav {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 50px;
}
.menu__nav--item {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  border-right: solid #d6d6d6;
  padding: 10px 50px;
}

.menu__nav--lastitem {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 50px;
}
.menu__nav--link {
  color: black;
  text-decoration: none;
}
.menu__nav--link:hover {
  border-bottom: solid 2px #e8c300;
}
.menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu__content--column {
  max-width: 380px;
}
.menu__content--item {
  padding-bottom: 50px;
}

.menu__content--dish {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.menu__content--description {
  color: darkgray;
  font-size: 12px;
  line-height: 18px;
}
/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #e8c300;
  color: black;
}

@media screen and(max-width:820px) {
  .menu__content {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30%;
  }
}
@media screen and(max-width:660px) {
  .menu__content {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20%;
  }
}
@media screen and(max-width:960px) {
  .dropbtn {
    display: block;
  }
  .menu__nav--item,
  .menu__nav--lastitem {
    display: none;
  }
}
